<h3>Для вывода протокола экзаменов по охране труда, нажмите на кнопку "Вывести протокол"</h3>
<h4>Протоколы формируются в соответствии с номерами комиссий, для вывода следующего протокола, повторите действия заново."</h4>
<form asp-action="Protocol"> 
    <button type="submit">Вывести протокол</button>
</form>