@model EmployeeExam.Data.Entities.Employee

@{
    ViewData["Title"] = "Create";
}

<h1>Добавить</h1>

<h4>Сотрудника</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Tabel_id" class="control-label"></label>
                <input asp-for="Tabel_id" class="form-control" />
                <span asp-validation-for="Tabel_id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FIO" class="control-label"></label>
                <input asp-for="FIO" class="form-control" />
                <span asp-validation-for="FIO" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Date" class="control-label"></label>
                <input asp-for="Date" class="form-control" />
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Notes" class="control-label"></label>
                <input asp-for="Notes" class="form-control" />
                <span asp-validation-for="Notes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="passed" class="control-label"></label>
                <input asp-for="passed" class="form-control" />
                <span asp-validation-for="passed" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="need_print" class="control-label"></label>
                <input asp-for="need_print" class="form-control" />
                <span asp-validation-for="need_print" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="dep_id" class="control-label"></label>
                <input asp-for="dep_id" class="form-control" />
                <span asp-validation-for="dep_id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="title_id" class="control-label"></label>
                <input asp-for="title_id" class="form-control" />
                <span asp-validation-for="title_id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NamberComission" class="control-label"></label>
                <input asp-for="NamberComission" class="form-control" />
                <span asp-validation-for="NamberComission" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">К списку</a>
</div>

