@model EmployeeExam.Data.Entities.Question


    <div class="block">
        <div class="text-center">
            <h1 class="text-primary"> <em>Для начала обучения введите номер варианта и нажмите кнопку <strong>"Начать обучение"</strong></em></h1>
        </div>
        <form asp-action="Training" asp-controller="Training" method="get">
            <span asp-validation-for="Var" class="text-danger"></span>
            <div class="my-margins">
                <div class="input-group mb-3">
                    <input name="Var" asp-for="Var" class="form-control" placeholder="Введите номер варианта" aria-label="Табельный номер" aria-describedby="basic-addon2" width="100">
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary" type="submit" id="button">Начать обучение</button>
                    </div>
                </div>
            </div>
        </form>
    </div>

    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
