@model EmployeeExam.Data.Entities.Title

@{
    ViewData["Title"] = "Create";
}

<h1>Добавить</h1>

<h4>Должность</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="title_name" class="control-label"></label>
                <input asp-for="title_name" class="form-control" />
                <span asp-validation-for="title_name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="var_id" class="control-label"></label>
                <input asp-for="var_id" class="form-control" />
                <span asp-validation-for="var_id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="gr_security" class="control-label"></label>
                <input asp-for="gr_security" class="form-control" />
                <span asp-validation-for="gr_security" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="interval" class="control-label"></label>
                <input asp-for="interval" class="form-control" />
                <span asp-validation-for="interval" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">К списку</a>
</div>

